@media (max-width: 900px) {
  .armor-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 600px) {
  .armor-grid {
    grid-template-columns: 1fr; /* single column */
  }
}