* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: grid;
    grid-template: auto 1fr auto / 2fr 1fr;
    width: 80%;
    margin: 0 10%;
}

header {
    grid-column: 1 / 3;
    background-color: rgb(75, 75, 75);
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-text {
    padding: 10px;
}

nav {
    display: flex;
    background-color: black;
    color: white;
    padding: 15px;
    justify-content: space-evenly;
    text-decoration: none;
}

main {
    grid-column: 1 / 2;
    background-color: lightgray;
    height: 400px;
    padding: 10px;
}

aside {
    grid-column: 2 / 3;
    padding: 10px;
}

footer {
    grid-column: 1 / 3;
    background-color: rgb(75, 75, 75);
    color: white;
    height: 150px;
    text-align: center;
    padding: 15px;
}