:root {
    --primary-color: rgb(36, 131, 10);
    --secondary-color: rgb(55, 55, 55);
    --accent1-color: rgb(91, 91, 91);
    --accent2-color: rgb(207, 207, 207);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: auto 1fr auto;
    width: 80%;
    margin: auto;
    font-family: "Zalando Sans", sans-serif;
    font-weight: 400;
}

header {
    grid-column: 1 / 3;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: xxx-large;
    font-weight: 300;
    padding-top: 15px;
}

span {
    display: block;
}

nav {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-evenly;
    font-size: large;
    text-decoration: none;
    padding: 12px;
}

nav a:hover {
	text-decoration: underline;
}

.nav a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    grid-column: span 2;
    font-weight: 300;
}

main {
    grid-column: 1/3;
    max-width: 800px;
    margin: auto;
}

/* positioning the cards */
.container {
    display: grid;
    position: relative;
}

.card {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}

p {
    padding: 10px;
}

h3 {
    text-align: center;
    text-decoration: underline;
    grid-column: span 3;
}

ul {
    padding: 20px 20px 20px 40px;
}

h2 {
    text-align: center;
    background-color: var(--primary-color);
    grid-column: span 3;
    padding: 5px;
}

.resource {
    grid-column: 2;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* positioning the images */
.para1,
.para2 {
    display: flex;
    align-items: center;
    gap: 20px;
    grid-column: span 2;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 5px;
}

.img1 {
    grid-column: 3;
}

.para2 {
    grid-column: 2/4;
}

.img2 {
    grid-row: 4;
    grid-column: 1;
}


/* footer */
footer {
    grid-row: 3;
    grid-column: span 2;
    background-color: var(--primary-color);
    text-align: center;
}

footer p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* optional: adds "..." if text overflows */
  margin: 0; /* optional: removes default spacing */
}

span {
    display: inline;
}
