* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f7f6;
    color: #333;
    padding: 2rem;
    line-height: 1.6;
}

/* Header */
header {
    text-align: center;
    margin: 0 auto 2rem;
    padding: 10px;
    background-color: rgb(0, 100, 0);
    max-width: 700px;
}

header h1 {
    font-size: 2rem;
    color: #e2e2e2;
}

/* Form container */
form.form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    padding: 2rem;
}

/* Fieldsets and labels */
fieldset {
    border: none;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
}

select,
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    appearance: none;
}

/* Checkbox and radio styling */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 0.5rem;
}

fieldset > div {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

/* Button styling */
button {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #3842fe;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
}

button:hover {
  background-color: #3024dc;
}

/* Footer */
footer {
    text-align: center;
    margin: 2rem auto;
    padding: 10px;
    background-color: rgb(0, 100, 0);
    max-width: 700px;
}

footer p{
    color: #e2e2e2;
}